<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="profile-background">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="6">
          <ion-avatar>
            <img src="assets/img/user-profile.svg" alt="Silhouette of a person's head"/>
          </ion-avatar>
          <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">
            <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input formControlName="nombre" type="text"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Apellido</ion-label>
              <ion-input formControlName="apellido" type="text"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input formControlName="email" type="email"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Confirmar Contraseña</ion-label>
              <ion-input formControlName="confirmPassword" type="password"></ion-input>
            </ion-item>

            <ion-button expand="block" type="submit">Guardar / Actualizar</ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
